<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video2brain.holamundo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HolaMundo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAddTexto"
            android:label="@string/title_activity_activity_add_texto"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddTexto"
            android:label="@string/title_activity_add_texto"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TextoDinamico"
            android:label="@string/title_activity_texto_dinamico"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AlinearElementos"
            android:label="@string/title_activity_alinear_elementos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".IncluirImagenes"
            android:label="@string/title_activity_incluir_imagenes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Interacciones"
            android:label="@string/title_activity_interacciones"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EntradaTexto"
            android:label="@string/title_activity_entrada_texto"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ManejoEstilos"
            android:label="@string/title_activity_manejo_estilos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
